<section id="constructions" class="constructions">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Наша продукция</h2>
      <p>
        Мы предлагаем широкий ассортимент металлопроката для различных отраслей
        промышленности и строительства.
      </p>
    </div>

    <div class="row gy-4">
      {% for product in featured_products %}
      <div
        class="col-lg-6"
        data-aos="fade-up"
        data-aos-delay="{{ forloop.counter|add:'0' }}00"
      >
        <div class="card-item">
          <div class="row">
            <div class="col-xl-5">
              <div
                class="card-bg"
                style="background-image: url({% static product.image %})"
              ></div>
            </div>
            <div class="col-xl-7 d-flex align-items-center">
              <div class="card-body">
                <h4 class="card-title">{{ product.title }}</h4>
                <p>{{ product.description }}</p>
                <a
                  href="{% url 'product_detail' product.slug %}"
                  class="btn btn-primary"
                  >Подробнее</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
