<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <h1>
                Сталькрафт<span></span>
            </h1>
        </a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <a href="{% url 'home' %}"
                       class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Главная</a>
                </li>
                <li>
                    <a href="{% url 'about' %}"
                       class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">О компании</a>
                </li>
                <li>
                    <a href="{% url 'catalog' %}"
                       class="{% if request.resolver_match.url_name == 'catalog' %}active{% endif %}">Каталог</a>
                </li>
                <li>
                    <a href="{% url 'services:list' %}"
                       class="{% if request.resolver_match and request.resolver_match.namespace == 'services' %}active{% endif %}">
                        Услуги
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog' %}"
                       class="{% if request.resolver_match.url_name == 'blog' %}active{% endif %}">Блог</a>
                </li>
                <li class="dropdown">
                    <a href="#">
                        <span>Дополнительно</span>
                        <i class="bi bi-chevron-down dropdown-indicator"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="{% url 'delivery' %}"
                               class="{% if request.resolver_match.url_name == 'delivery' %}active{% endif %}">Информация о доставке</a>
                        </li>
                        <li class="dropdown">
                            <a href="#"><span>Техническая информация</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li>
                                    <a href="{% url 'quality_standards' %}"
                                       class="{% if request.resolver_match.url_name == 'quality_standards' %}active{% endif %}">Стандарты качества</a>
                                </li>
                                <li>
                                    <a href="{% url 'steel_types' %}"
                                       class="{% if request.resolver_match.url_name == 'steel_types' %}active{% endif %}">Типы стали</a>
                                </li>
                                <li>
                                    <a href="{% url 'aluminum_alloys' %}"
                                       class="{% if request.resolver_match.url_name == 'aluminum_alloys' %}active{% endif %}">Алюминиевые сплавы</a>
                                </li>
                                <li>
                                    <a href="{% url 'stainless_steel' %}"
                                       class="{% if request.resolver_match.url_name == 'stainless_steel' %}active{% endif %}">Нержавеющая сталь</a>
                                </li>
                                <li>
                                    <a href="{% url 'certificates' %}"
                                       class="{% if request.resolver_match.url_name == 'certificates' %}active{% endif %}">Сертификаты</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'partners' %}"
                               class="{% if request.resolver_match.url_name == 'partners' %}active{% endif %}">Партнеры</a>
                        </li>
                        <li>
                            <a href="{% url 'career' %}"
                               class="{% if request.resolver_match.url_name == 'career' %}active{% endif %}">Карьера</a>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}"
                               class="{% if request.resolver_match.url_name == 'faq' %}active{% endif %}">FAQ</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'contact' %}"
                       class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
